*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#07121d;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    height:100vh;
    overflow:hidden;
    font-family:Arial,Helvetica,sans-serif;
}

#scene{
    position:relative;
    width:520px;
    height:720px;
    display:flex;
    justify-content:center;
    align-items:center;
}

#aura{
    position:absolute;
    width:430px;
    height:430px;
    border-radius:50%;
    background:radial-gradient(circle,
        rgba(0,255,255,.45),
        rgba(0,255,255,.15),
        transparent 72%);
    filter:blur(35px);
    animation:
        auraPulse 4s infinite ease-in-out,
        auraRotate 18s linear infinite;
}

#avatar{
    position:relative;
    width:430px;
    animation:
        breathe 4s ease-in-out infinite,
        float 5s ease-in-out infinite;
}

#body{
    width:100%;
    display:block;
    user-select:none;
    pointer-events:none;
    filter:drop-shadow(0 0 35px rgba(0,255,255,.45));
}

.eye{
    position:absolute;
    width:42px;
    height:20px;
    overflow:hidden;
}

.left{
    left:124px;
    top:205px;
}

.right{
    right:122px;
    top:205px;
}

.eyelid{
    position:absolute;
    width:100%;
    height:100%;
    background:#f4c59d;
    transform:translateY(-100%);
}

.eye.blink .eyelid{
    animation:blink .22s ease;
}

#mouth{
    position:absolute;
    left:50%;
    top:318px;
    transform:translateX(-50%);
    width:74px;
    height:8px;
    border-radius:50px;
    background:#4d1e16;
    transition:.12s;
}

#mouth.talk{
    height:28px;
    border-radius:0 0 40px 40px;
}

#speech{
    margin-top:25px;
    color:white;
    font-size:22px;
    padding:18px 28px;
    border-radius:16px;
    background:rgba(20,35,55,.9);
    box-shadow:0 0 30px rgba(0,255,255,.25);
    max-width:700px;
    text-align:center;
}

@keyframes blink{

    0%{transform:translateY(-100%);}
    50%{transform:translateY(0);}
    100%{transform:translateY(-100%);}

}

@keyframes breathe{

    0%,100%{
        transform:scale(1);
    }

    50%{
        transform:scale(1.018);
    }

}

@keyframes float{

    0%,100%{
        translate:0 0;
    }

    50%{
        translate:0 -8px;
    }

}

@keyframes auraPulse{

    0%,100%{
        transform:scale(.95);
        opacity:.55;
    }

    50%{
        transform:scale(1.12);
        opacity:1;
    }

}

@keyframes auraRotate{

    from{
        rotate:0deg;
    }

    to{
        rotate:360deg;
    }

}
