*{
    margin:0;
    padding:0;
   *box-sizing:border-box;
}

body{

 *  font-family:Inter,sans-serif;

 *  background:
    radial-gradient(*        circle at center,
        *10263d,
        #040910
    );

  * color:white;

    overflow:hidden*
}

.container{

    display:flex;*
    height:100vh;
}

.avatar-sect*on{

    flex:1;

    display:flex*

    justify-content:center;

   *align-items:center;
}

.did-wrappe*{

    position:relative;

    wid*h:800px;
    height:700px;
}

.ava*ar-glow{

    position:absolute;

*   inset:-100px;

    background:
*   radial-gradient(
        circle*
        rgba(0,170,255,.25),
    *   transparent 70%
    );

    fil*er:blur(80px);

    z-index:0;
}

*did-frame{

    position:relative;*
    z-index:1;

    width:100%;
 *  height:100%;

    border-radius:*0px;

    backdrop-filter:blur(20p*);

    background:
    rgba(255,2*5,255,.04);

    border:
    1px s*lid rgba(255,255,255,.08);

    di*play:flex;

    flex-direction:col*mn;

    justify-content:center;

*   align-items:center;
}

.did-fra*e h2{

    font-size:42px;

    ma*gin-bottom:15px;
}

.did-frame p{
*    opacity:.8;
}

.panel{

    wi*th:420px;

    padding:40px;

    *ackground:
    rgba(255,255,255,.0*);

    backdrop-filter:blur(20px)*

    border-left:
    1px solid r*ba(255,255,255,.08);
}

.panel h1{*
    margin-bottom:20px;
}

.panel*p{

    opacity:.8;
}

#messages{
*    margin-top:30px;
}

.bubble{

*   background:
    rgba(255,255,25*,.08);

    padding:15px;

    bor*er-radius:15px;
}

.chatbar{

    *osition:fixed;

    left:50%;

   *transform:translateX(-50%);

    b*ttom:25px;

    width:90%;

    ma*-width:1300px;

    display:flex;
*    gap:10px;

    padding:15px;

*   border-radius:25px;

    backgr*und:
    rgba(255,255,255,.05);

 *  backdrop-filter:blur(20px);
}

.*hatbar input{

    flex:1;

    bo*der:none;

    outline:none;

    *olor:white;

    background:none;
*    font-size:18px;
}

.chatbar bu*ton{

    width:60px;
    height:6*px;

    border:none;

    border-*adius:50%;

    cursor:pointer;

 *  background:#0099ff;

    color:w*ite;

    font-size:22px;
}
